<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
 <link rel = "stylesheet" href="/style.css"/>
</head>
<body>
    <h2>this page belongs to @<%=data.name %></h2>
    <button>follow</button>
    <button>message</button>
    <h3>followers</h3>
  <p>Followers : <%= data.followers %> &nbsp; &nbsp; Following : <%= data.following %></p>

  <hr>

</body>
</html>